{% extends 'ThemeBundle:Default:admin.html.twig' %}

{% block header %}
    <h1>Tableau de bord</h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            Bienvenue sur le tableau de bord
        </div>
    </div>
{% endblock %}